<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="com.myproject.estore.mapper.AdminMapper">
 
    <!--가게 검색, 페이징 -->
   <sql id="sSearch"> 
	
      	<if test='word!=null and field=="sname"'>
		 and	sname like CONCAT('%',#{word},'%') 
		</if>
		<if test='word!=null and field=="email"'>
	     and		email like CONCAT('%',#{word},'%') 
		</if>	
   </sql> 
   
   <!-- 리스트 -->
   <select id="sList"  resultType="com.myproject.estore.dto.Shop" parameterType="HashMap">
   	select bb.* from (select @rownum:=@rownum+1 as rn, aa.* 
   		from (select * from shop where 
		(@rownum:=0)=0 <include refid="sSearch"/>) aa limit #{endRow}) bb 
		where rn >=#{startRow}
	</select>
	
   <!-- count -->   
   <select id="sCount" resultType="int">
    select count(*) from shop 
     <where>
    	 <if test='word!=null and field=="sname"'>
		 sname like CONCAT('%',#{word},'%') 
		</if>
		<if test='word!=null and field=="email"'>
	      email like CONCAT('%',#{word},'%') 
		</if>
     </where>
   </select>
   
   
   <!-- 주문 검색 리스트 -->
      <!--주문 검색, 페이징 -->
   <sql id="osearch">  	
      	<if test='word!=null and field=="name"'>
				name like CONCAT('%',#{word},'%') and
		</if>
		<if test='word!=null and field=="uid"'>
			userid like CONCAT('%',#{word},'%') and
		</if>   	
   </sql>   
   
   <!-- 주문리스트 -->
   <select id="oList" resultType="com.myproject.estore.dto.OrderDTO" parameterType="HashMap">
   		select bb.* from 
		(select @rownum:=@rownum+1 as rn, aa.* from 
		(select ordernum, sid, name, userid, count(pcount) sum, sum(price) total, price, create_date, orderstate
		 from ordering where <include refid="osearch"/>
		 (@rownum:=0)=0 group by ordernum, sid) aa limit #{endRow}) bb 
		where rn >=#{startRow}

   </select>
   
   <!-- 주문 count -->
   <select id="oCount" resultType="int">
   	 select count(DISTINCT ordernum, sid) from ordering 
     <where>
    	 <if test='word!=null and field=="name"'>
		 name like CONCAT('%',#{word},'%') 
		</if>
		<if test='word!=null and field=="email"'>
	      userid like CONCAT('%',#{word},'%') 
		</if>
     </where>
   		
   </select>   
 
 </mapper>